div{
    width: 400px;
    height: 200px;
    background-color: #402eff;
    border-radius: 50px;
    border: 20px groove tomato;

    /*ex. 5*/
    background-image: url("cool-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}