div {
  width: 100px;
  height: 100px;
  border: 1px groove blue;
  /*background-color: #6d7cff;*/
  border-radius: 100%;
  background-image: url("../hoe/hoe1/5/img/puppy.jpg");
  background-size: cover;
  /*background-repeat: no-repeat;*/
}

img {
  border: 10px groove orangered;
  border-radius: 100%;
}

.onedog {
  border: 10px dashed orangered;
  border-radius: 100%;
}

.twodog {
  border: 10px dotted orangered;
  border-radius: 100%;
}

 .threedog{
  border: 10px groove orangered;
  border-radius: 100%;
}

.fourdog {
  border: 10px groove orangered;
  border-radius: 100%;
}
